NODE_ENV=development

DATABASE_URL="postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}:5432/${DB_NAME}?schema=public"
DB_USER=postgres
DB_HOST=Localhost
DB_NAME=LinkenZone
DB_PASS=

PORT=3000

JWT_SECRET=
JWT_EXPIRES_IN=
JWT_COOKIE_EXPIRES_IN=